<<<<<<< HEAD
/* Scss Document */
@import "fonts";
@import "variables";
@import "mixins";
@import "extend";
@import "reset";
@import "grid";
body {
	@include responsive-max($width-medium){
		font-size:12px;
	}
	@include responsive-max($width-small){
		font-size:12px;
	}
=======
/* Scss Document */
@import "fonts";
@import "variables";
@import "mixins";
@import "extend";
@import "reset";
@import "grid";
body {
	@include responsive-max($width-medium){
		font-size:12px;
	}
	@include responsive-max($width-small){
		font-size:12px;
	}
>>>>>>> a10cf6a5ebb4a63347102abef2885c5be722b088
}