<<<<<<< HEAD
/* placer hoder CSS */
%before-after{
	&:after{
		@include content-table;
		clear:both;
	}
	&:before{
		@include content-table;
	}
}
%block-full{
	display: block;
	float: none;
	width: 100%;
=======
/* placer hoder CSS */
%before-after{
	&:after{
		@include content-table;
		clear:both;
	}
	&:before{
		@include content-table;
	}
}
%block-full{
	display: block;
	float: none;
	width: 100%;
>>>>>>> a10cf6a5ebb4a63347102abef2885c5be722b088
}