/* placer hoder CSS */
%before-after{
	&:after{
		@include content-table;
		clear:both;
	}
	&:before{
		@include content-table;
	}
}
%block-full{
	display: block;
	float: none;
	width: 100%;
}