<<<<<<< HEAD
@font-face {
	font-family: "KlavikaWebBasicBold";
	src: url("/resources/css/fonts/KlavikaWebBasicBold.eot?#iefix") format("embedded-opentype"), url("/resources/css/fonts/KlavikaWebBasicBold.woff") format("woff");
}
@font-face {
	font-family: "KlavikaWebBasicLight";
	src: url("/resources/css/fonts/KlavikaWebBasicLight.eot?#iefix") format("embedded-opentype"), url("/resources/css/fonts/KlavikaWebBasicLight.woff") format("woff");
}
@font-face {
	font-family: "KlavikaWebBasicMedium";
	src: url("/resources/css/fonts/KlavikaWebBasicMedium.eot?#iefix") format("embedded-opentype"), url("/resources/css/fonts/KlavikaWebBasicMedium.woff") format("woff");
=======
@font-face {
	font-family: "KlavikaWebBasicBold";
	src: url("/resources/css/fonts/KlavikaWebBasicBold.eot?#iefix") format("embedded-opentype"), url("/resources/css/fonts/KlavikaWebBasicBold.woff") format("woff");
}
@font-face {
	font-family: "KlavikaWebBasicLight";
	src: url("/resources/css/fonts/KlavikaWebBasicLight.eot?#iefix") format("embedded-opentype"), url("/resources/css/fonts/KlavikaWebBasicLight.woff") format("woff");
}
@font-face {
	font-family: "KlavikaWebBasicMedium";
	src: url("/resources/css/fonts/KlavikaWebBasicMedium.eot?#iefix") format("embedded-opentype"), url("/resources/css/fonts/KlavikaWebBasicMedium.woff") format("woff");
>>>>>>> a10cf6a5ebb4a63347102abef2885c5be722b088
}