
/* Scss Document */
*:before, *:after {
	@include border-box;
}
.ab-container-full{
	@include full-container;
}
.ab-container-full * {
	@include border-box;
}
.outer-wrapper {
	display: block;
	background-color:$light;
	@include margin-auto;
}
.ab-container {
	margin: 0 auto;
	max-width:$grid-max-width;
	background-color:$light;
	@include padding-lr-18;
	@extend %before-after;
}
.ab-row{
	clear: both;
	@extend %before-after;
}
@for $i from 1 through $grid-columns { 
    .ab-col-#{$i} { 
        width: 100% / $grid-columns * $i;
    } 
}
.ab-col-12 {
	@extend %block-full;
}
[class*="ab-col-"]{
	float:left;
 	display:inline;
	@extend %before-after;
	@include responsive-max($width-small - 1){
		@include block-full;
		@include margin-auto;
	}
}
