<<<<<<< HEAD
/* color variables */
$light:#ffffff;
$dark:#000000;

/* Fonts variables */
$k-bold:'KlavikaWebBasicBold', Arial, Helvetica, sans-serif;
$k-light:'KlavikaWebBasicLight', Arial, Helvetica, sans-serif;
$s-height:1.1em;

/* grid variables */
$grid-columns: 12;
$grid-max-width:1525px;

/* break-point variables */
$width-largest:1525px;
$width-ex-large:1280px;
$width-large:1024px;
$width-medium:768px;
=======
/* color variables */
$light:#ffffff;
$dark:#000000;

/* Fonts variables */
$k-bold:'KlavikaWebBasicBold', Arial, Helvetica, sans-serif;
$k-light:'KlavikaWebBasicLight', Arial, Helvetica, sans-serif;
$s-height:1.1em;

/* grid variables */
$grid-columns: 12;
$grid-max-width:1525px;

/* break-point variables */
$width-largest:1525px;
$width-ex-large:1280px;
$width-large:1024px;
$width-medium:768px;
>>>>>>> a10cf6a5ebb4a63347102abef2885c5be722b088
$width-small:480px;